.w-0 {
    width: 0 !important;
}

.w-10rem {
    width: 10rem;
}

.w-20rem {
    width: 20rem;
}

.w-30rem {
    width: 30rem;
}

.max-w-10rem {
    max-width: 10rem;
}

.max-w-20rem {
    max-width: 20rem;
}

.max-w-30rem {
    max-width: 30rem;
}

// -------------------------------

.h-0 {
    height: 0 !important;
}