<div class="blur-bg" [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}"></div>
<div class="cube d-inline-block ">
  <div class="side front" [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}"></div>
  <div class="side back" [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}"></div>
  <div class="side right" [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}"></div>
  <div class="side left" [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}"></div>
  <div class="side top" [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}"></div>
  <div class="side bottom" [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}"></div>
</div>