/* For use in src/lib/core/theming/_palette.scss */
$md-bluer: (
  50 : #e3f0ff,
  100 : #b8d8fe,
  200 : #89c9fe,
  300 : #59bcfe,
  400 : #3691fd,
  500 : #127efd,
  600 : #1076fd,
  700 : #0d6bfc,
  800 : #0a61fc,
  900 : #054efc,
  A100 : #ffffff,
  A200 : #f0f4ff,
  A400 : #bdcdff,
  A700 : #a3baff,
  contrast: (50 : #565656,
    100 : #565656,
    200 : #565656,
    300 : #565656,
    400 : #434343,
    500 : #434343,
    600 : #434343,
    700 : #434343,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #565656,
    A200 : #565656,
    A400 : #565656,
    A700 : #565656,
  )
);

$md-cyner: (
  50 : #e1fcfe,
  100 : #b3f8fc,
  200 : #81f4fa,
  300 : #4ff0f7,
  400 : #29ecf6,
  500 : #03e9f4,
  600 : #03e6f3,
  700 : #02e3f1,
  800 : #02dfef,
  900 : #01d9ec,
  A100 : #ffffff,
  A200 : #e0fcff,
  A400 : #adf8ff,
  A700 : #93f5ff,
  contrast: (50 : #565656,
    100 : #565656,
    200 : #565656,
    300 : #565656,
    400 : #434343,
    500 : #434343,
    600 : #434343,
    700 : #434343,
    800 : #333333,
    900 : #333333,
    A100 : #565656,
    A200 : #565656,
    A400 : #565656,
    A700 : #565656,
  )
);

$md-soiler: (
  50 : #eaeded,
  100 : #cbd3d2,
  200 : #a8b5b4,
  300 : #859795,
  400 : #6a817f,
  500 : #506b68,
  600 : #496360,
  700 : #405855,
  800 : #374e4b,
  900 : #273c3a,
  A100 : #87fff2,
  A200 : #54ffed,
  A400 : #21ffe8,
  A700 : #08ffe5,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-redr: (
  50 : #ffe6e7,
  100 : #ffc0c3,
  200 : #ff969c,
  300 : #ff6b74,
  400 : #ff4c56,
  500 : #ff2c38,
  600 : #ff2732,
  700 : #ff212b,
  800 : #ff1b24,
  900 : #ff1017,
  A100 : #ffffff,
  A200 : #fff8f8,
  A400 : #ffc5c6,
  A700 : #ffacad,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);